@import "../../colors";

.section {
  &.section-services {
    background-color: $color-gray-1;
    height: 592px;

    .wrapper {
      width: 100%;
      height: 100%;
      padding: 0 $section-padding;
      flex-flow: column;

      .item-list {
        width: 100%;
        display: flex;
        flex-flow: row;
      }

      .service-details {
        margin-top: 82px;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        justify-content: space-between;

        .service-details-text {
          width: 490px;

          h4 {
            letter-spacing: 0.7px;
            margin-bottom: 55px;
          }

          p {
            line-height: 123%;
          }
        }

        .service-carousel-container {
          width: 490px;

          img {
            width: 100%;
          }

          .carousel-controls-container {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;

            .indicators {
              width: 100%;
              display: flex;
              flex-flow: row;
              justify-content: space-between;
              align-items: center;

              // background-color: red;
              .indicator {
                margin-right: 10px;
                width: 100%;
                height: 1px;
                border-top: 2px solid $color-gray-4;
                &:last-child {
                  margin-right: 0;
                }
              }
            }

            .button {
              height: 19px;
              margin-left: 30px;
              img {
                max-height: 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
