.section {

  &.section-services {
    background-color: antiquewhite;

    .wrapper {
      background-color: grey;
      width: 100%;
      padding: 0 48px;
      flex-flow: column;
      
      .item-list {
        width: 100%;
        display: flex;
        flex-flow: row;
      }

      .service-description {
        display: flex;
      }
    }
  }
}