@import "../../colors";

.item {
  cursor: pointer;
  margin-top: 14px;
  margin-right: 10px;

  p {
    color: $color-gray-4;
    transition: color 0.2s;

    &:hover {
      color: white;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}


@media (max-width: $section-width) {
  .item {
    margin-top: vw(14);
    margin-right: vw(10);
  }
}