$background-image-item: url('/public/images/banner-bg-texture-bw.jpg');
$gradient-radius: 410px; 

$color-green: rgba(15,128, 124, 0.9);
$color-violet: rgba(58, 25, 56, 0.9);
$color-orange: rgba(224,103, 30, 0.9);

.item {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  margin-bottom: 55px;
  
  .item-background-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 170px;
    padding: 0 30px;
    margin-bottom: 12px;
  }
  
  .description {
    margin-bottom: 10px;
  }
  

  &.item-orange {
    .item-background-container {
      background-image: radial-gradient(
        $gradient-radius, 
        $color-orange, 
        black), 
        $background-image-item ;
    }
  }
  
  &.item-green {
    .item-background-container {
      background-image: radial-gradient(
        $gradient-radius, 
        $color-green, 
        black), 
        $background-image-item;
    }
  }

  &.item-violet {
    .item-background-container {
      background-image: radial-gradient(
        $gradient-radius, 
        $color-violet, 
        black), 
        $background-image-item ;
    }
  }
}