@import "../../colors";

.about {
  background-color: $color-gray-5;
  height: 100%;

  .wrapper {
    display: flex;
    flex-flow: column;
    padding: 52px 50px 52px $section-padding;

    h4 {
      letter-spacing: 0.6px;
      margin-bottom: 75px;
    }

    p {
      line-height: 122%;
    }
  }
}

@media (max-width: $section-width) {
  .about {

    .wrapper {
      padding: vw(52) vw(50) vw(52) vw(100);
  
      h4 {
        letter-spacing: vw(0.6);
        margin-bottom: vw(75);
      }
    }
  }
}