@import "../../colors";
.section {
  &.section-contact {
    width: 1280px;
    display: flex;
    flex-flow: row;
  }
}

@media (max-width: $section-width) {
  .section {
    &.section-contact {
      width: 100vw;
    }
  }
}
