@import "../../colors";

.contact-form {
  background-color: $color-gray-2;
  height: 100%;
  width: 100%;

  .wrapper {
    padding: 52px $section-padding 52px 50px;

    form {
      display: flex;
      flex-flow: column;
      width: 100%;

      input,
      textarea {
        height: 35px;
        margin-bottom: 24px;
        border: none;
        font-size: 18px;
        padding-left: 13px;
        font-family: $font-family-normal;
        max-width: 475px;

        &.text {
          height: 85px;
          max-height: 200px;
          min-height: 35px;
          min-width: 475px;
          position: relative;

          &::placeholder {
            position: absolute;
            top: 2px;
          }
        }
      }

      .button {
        height: 36px;
        margin: 0 0 24px 0;
        background-color: $color-orange;
        font-weight: 200;
        color: white;
        width: 151px;
        padding: 10px 10px;
      }
    }
  }
}

@media (max-width: $section-width) {
  .contact-form {
  
    .wrapper {
      padding: vw(52) vw(100) vw(52) vw(50);
  
      form {

        input,
        textarea {
          height: vw(35);
          margin-bottom: vw(24);
          font-size: vw(18);
          padding-left: vw(13);
          max-width: vw(475);
  
          &.text {
            height: vw(85);
            max-height: vw(200);
            min-height: vw(35);
            min-width: vw(475);
  
            &::placeholder {
              top: vw(2);
            }
          }
        }
  
        .button {
          width: vw(151);
          padding: 0 vw(10);
        }
      }
    }
  }
}
  
