@import "../../colors";

.section {
  &.section-navbar {
    position: fixed;
    height: 100px;
    max-width: $section-width;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: $color-gray-2;
    backdrop-filter: blur(10px);

    .navbar-container {
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      width: 100%;
      padding: 18px $section-padding 0;

      .logo-container {
        margin-top: 2px;
        height: 44px;
        box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
      }
      .navbar-list {
        display: flex;
        flex-direction: column;
        align-items: end;

        .navbar-item {
          margin-right: 0;
          margin-bottom: 11px ;

          a {
            text-decoration: none;
            color: $color-gray-4;

          }
        }
      }
    }
  }
}
