$color-green: rgba(15, 128, 124, 0.9);
$color-violet: rgba(58, 25, 56, 0.9);

$section-width: 1280px;
$section-padding: 100px;

$color-page-background: #130d0c;
$color-gray-1: #15161a;
$color-gray-2: #2b3034;
$color-gray-3: #4d5154;
$color-gray-4: #888684;
$color-gray-5: #d9d9d9;
$color-white: #ffffff;
$color-orange: #e7732e;

$font-family-normal: "Inter", sans-serif;
