$section-width: 1280px;

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.grey {
  background-color: #999999;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

.main-wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 1999;
  overflow: hidden;
  background-color: #242424;


  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 28px;
  }

  p {
    font-size: 14px; 
  }

  h1, h2, h3, h4, p {
    line-height: 130%;
  }

  .text-center {
    width: 100%;
    text-align: center;
  }

  .box-shadow {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  }

  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  $font-family-normal: "PT Sans", sans-serif;

  p, a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h1, h2, h3, h4 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    line-height: 130%;
  }

  .text-white {
    color: white;
  }

  .section {
    background-color: white;
    width: $section-width;

    padding: 0;
    position: relative;
    margin: 0 auto;
    position: relative;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;

    @for $i from 0 through 10 {
      $value: $i * 10;

     
    }
    .wrapper {
      display: flex;

      .row {
        display: flex;
        flex-flow: row;
      }
      
      .col {
        display: flex;
        flex-flow: row wrap;
        flex: 0 0 auto;
        position: relative;

        align-items: start;
        justify-items: center;
        justify-content: flex-start;

        &.col-wrapper {
          padding: 0;
        }


        @for $i from 0 through 12 {
          $w: $i/12;

          &.col-#{$i} {
            flex: 0 1 #{$w * 100%};
          }
        }

        &.col-space-between {
          justify-content: space-between;
        }
      }
    }


    // .button-container {
    //   margin-top: 18px;
    //   margin-bottom: 18px;
    // }

    // .button {
    //   margin: 0px auto 30px 0;
    //   padding: 3px 30px;
    //   text-decoration: none;
    //   color: white;
    //   font-size: 12px;
    //   text-transform: uppercase;
    //   font-family: $font-family-normal;
    //   font-weight: 700;
    //   border-radius: 3px;
    //   background-color: aqua;
    //   box-shadow: 
    //   (0px 7px 15px #00000035), 
    //   ;
      

    //   &.button-purple {
    //     background-image: linear-gradient(to right, #e53e83, #db3e99);
    //   }

    //   &.button-orange {
    //     background-color: #e46828;
    //   }

    //   &.button-full-width {
    //     display: flex;
    //     justify-content: center;
    //   }

    //   &.button-green {
    //     background-color: #079aa5;
    //   }
    // }


    .hover-overlay {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.144);
      opacity: 0;
    }

    .hover-element {
      position: relative;
      display: inline-block;
    }

    .background-container {
      box-shadow: 0 15px 20px rgba($color: #000000, $alpha: 0.15);
      border-radius: 3px;
    }


  }
}