@import "colors";

// @import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.grey {
  background-color: #999999;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

.main-wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 1999;
  overflow: hidden;
  background-color: $color-page-background;

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
    font-weight: 200;
  }

  h4 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    line-height: 130%;
  }

  .text-center {
    width: 100%;
    text-align: center;
  }

  .box-shadow {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  }

  // @import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

  p,
  a {
    font-family: $font-family-normal;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.1px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-family-normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2px;
  }

  h3 {
    font-weight: 200;
  }

  .text-white {
    color: white;
  }

  .section {
    background-color: white;
    width: $section-width;

    padding: 0;
    position: relative;
    margin: 0 auto;
    position: relative;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;

    @for $i from 0 through 10 {
      $value: $i * 10;
    }
    .wrapper {
      display: flex;

      .row {
        display: flex;
        flex-flow: row;
      }

      .col {
        display: flex;
        flex-flow: row wrap;
        flex: 0 0 auto;
        position: relative;

        align-items: start;
        justify-items: center;
        justify-content: flex-start;

        &.col-wrapper {
          padding: 0;
        }

        @for $i from 0 through 12 {
          $w: $i/12;

          &.col-#{$i} {
            flex: 0 1 #{$w * 100%};
          }
        }

        &.col-space-between {
          justify-content: space-between;
        }
      }
    }

    .hover-overlay {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.144);
      opacity: 0;
    }

    .hover-element {
      position: relative;
      display: inline-block;
    }

    .background-container {
      box-shadow: 0 15px 20px rgba($color: #000000, $alpha: 0.15);
      border-radius: 3px;
    }
  }
}
