@import '../../colors';

.service-details {
  margin-top: 82px;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;

  .service-details-text {
    width: 490px;

    h4 {
      letter-spacing: 0.7px;
      margin-bottom: 55px;
    }

    p {
      line-height: 123%;
    }
  }
}

@media (max-width: $section-width) {
  .service-details {
    margin-top: vw(82);
  
    .service-details-text {
      width: vw(490);
  
      h4 {
        letter-spacing: vw(0.7);
        margin-bottom: vw(55);
      }
    }
  }
}
