.lower-part {
  padding: 80px 50px 0 100px;
  padding-bottom: auto;

  .left {
    padding-right: 60px;
    
    h2 {
      display: block;
    }
    
    p {
      width: 100%;
      display: block;
      
      &.description {
        margin-bottom: 8px;
        font-weight: 700;
     }
    }
  }

  .right {
    padding-right: 0px;
    
    img {
      width: 400px;
      max-width: 100%;
    }

    p.description {
      margin: 8px 0;
      font-weight: 700;
    }

  }
}