.section {

  &.section-banner {
    height: 576px;
    
    .wrapper {
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
  }
}